body {
    margin: 0%;
    background-color: #ededed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body, main, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

h1 {
    margin: 0%;
}

footer {
    position: absolute;
    flex-direction: row;
    bottom: 0;
    padding: 1rem;
    padding-bottom: 0%;
}
main {
    margin-top: 2vh;
    padding: 0.5rem;
    width: 350px;
    height: 85vh;
    border: 2px solid black;
    background-color: #aaa;
    border-radius: 1rem;
    justify-content: space-evenly;
}

.screen {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: 6rem;
    border-radius: 0.25rem;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid black;
}

.screen-current {
    padding: 1rem;
    font-size: 1.75rem;
}

.screen-past {
    padding: 0.5rem;
    font-size: 1rem;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.25rem;
    background-color: #eee;
    font-size: 20px;
    height: 3rem;
    width: 5rem;
    padding: 20px;
    border-radius: 0.25rem;
    transition: all 200ms ease-in-out;
    border: 2px solid black;
}

button:hover {
    background-color: #BBB;
}

#equals {
    background-color: #99F;
}
#equals:hover {
    background-color: #00F;
}

.main-button {
    margin: 0.25rem;
    width: 40%;
    padding: 5px;
    border-radius: 0.25rem;
    transition: all 200ms ease-in-out;
    border: 2px solid black;
}

.mb-1 {
    background-color: #F88;
}

.mb-1:hover {
    background-color: #F66;
}

.mb-2 {
    background-color: #AAF;
}

.mb-2:hover {
    background-color: #88F;
}

svg {
    transform: scale(0.75);
    transition: transform .15s cubic-bezier(.17,.67,.29,2.71) 0s;
}

svg:hover {
    transform: scale(0.9);
    filter: invert(41%) sepia(94%) saturate(1636%) hue-rotate(129deg) brightness(92%) contrast(97%);
}

@media screen and (max-width: 400px) {
    body {
        justify-content: center;
    }
    main {
        margin-top: 10vh;
        width: 80vw;
        height: 70vh;
    }

    .button {
        width: 4rem;
        height: 3rem;
    }
}